{% extends 'mainApp/wrapper.html' %}

{% block content %}
<p>Проверка работоспособности!</p>
     <p>
      <h2>МОНТАЖ ИНЖЕНЕРНЫХ КОММУНИКАЦИЙ</h2>
     </p>
    <p>
	Услуги по прокладке инженерных коммуникаций в Одессе оказывают многие компании, однако наши мастера могут предложить оптимальное соотношение стоимости монтажа и его качества. На все виды работ мы даем гарантию! Заказать услуги монтажа инженерных систем вы можете несколькими способами:
    </p>
<p>
	<ul>
	<li>оставить онлайн заявку на нашем сайте;</li>
	<li>позвонить по телефону: 098-681-65-46;</li>
	<li>написать нам на email: veritasreform@gmail.com;</li></ul>
</p>
    
    
<p>
Наши специалисты всегда с радостью готовы ответить на все ваши вопросы, проведут профессиональную консультаци, помогут разобраться во всех технических аспектах и подобрать качественные и недорогие материалы. Оставляйте заявку сейчас и уже сегодня мы приступим к работе!</p>

{% include 'mainApp/includes/some_html.html' %}




{% endblock %}




