<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title>Сантехнические работы в Одессе</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>

  
  <div class="jumbotron">
    <div class="container">
      <h1>Сантехнические работы в Одессе от компании Veritas</h1>
      
		{% block content %}
		{% endblock %}
	 




      <p>     	
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/services" class="btn btn-success btn-lg">Услуги </a>
        <a href="/price" class="btn btn-primary btn-lg">Прайс лист &raquo;</a>
        <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
      </p>


    </div>
  </div>
  <div class="container">
    <img src="{% static 'mainApp/images/footer.png' %}" class='img-thumbnail'>
    <hr>
    &copy; Все права защищены 2018
  </div>
</body>
</html>